{{ partial "top.html" . }}

  <article class="posts">

    <h2>news</h2>
    {{ range site.RegularPages.GroupByDate "2006" -}}
    <section>
      <h3>{{ .Key }}</h3>

      <ol>
        {{ range .Pages -}}
        <li>
          <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ lower ( .Date.Format "Jan 02" ) }}</time>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end }}
      </ol>
    </section>
    {{ end }}

  </article>

  <h2>features</h2>

  {{ .Content }}

{{ partial "bottom.html" . }}
